{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3>{% if object %}Editar{% else %}Nuevo{% endif %} Viaje</h3>

    <form method="post" class="mt-3" id="form-viaje">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <div class="errores d-block">{{ error }}</div>
        {% endfor %}
            </div>
        {% endfor %}
    
        <div class="mt-4 mb-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% if object %}{% url 'info:detalle_viaje' object.pk %}{% else %}{% url 'info:lista_viajes' %}{% endif %}"
               class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.getElementById("form-viaje").addEventListener("submit", function(event) {
    let fechaInicio = new Date(document.getElementById("id_fecha_inicio").value);
    let fechaFinal = new Date(document.getElementById("id_fecha_final").value);

    if (fechaInicio > fechaFinal) {
        event.preventDefault();
        
        let errorMsg = document.createElement('div');
        errorMsg.className = 'alert alert-danger mt-3';
        errorMsg.textContent = "La fecha de inicio no puede ser posterior a la fecha final.";
        
        let botones = this.querySelector('.mt-4.mb-4');
        
        this.insertBefore(errorMsg, botones);
    }
});
</script>
{% endblock %}